---
services:
  netbootxyz:
    container_name: netbootxyz
    build:
      context: .
    environment:
      - DHCP_RANGE_START=${DHCP_RANGE_START:-192.168.68.1}
      - NGINX_PORT=8083        # host will listen on 8083 now
      - WEB_APP_PORT=3005      # host will listen on 3005
    network_mode: host
    # networks:
    #   netbootxyz_network:
    #     ipv4_address: ${CONTAINER_IP:-192.168.0.250}
    cap_add:
      - NET_ADMIN
    volumes:
      - /config
# networks:
#   netbootxyz_network:
#     driver: ipvlan
#     driver_opts:
#       parent: ${INTERFACE:-eth0}
#     ipam:
#       config:
#         - subnet: ${SUBNET:-192.168.0.1}/${SUBNET_PREFIX_BITS:-24}
#           gateway: ${GATEWAY:-192.168.0.1}
#           ip_range: ${CONTAINER_IP:-192.168.0.250}/32
